LOG_LEVEL=info
TZ=Etc/UTC
JELLYFIN_URL=http://localhost:8096
JELLYFIN_HEALTHCHECK_URL=http://localhost:8096/health
SONARR_LOG_LEVEL=warn
VPN_SERVICE_PROVIDER=custom
VPN_TYPE=wireguard
WIREGUARD_IMPLEMENTATION=userspace
WIREGUARD_ADDRESSES=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_DNS=
WIREGUARD_PUBLIC_KEY=
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ENDPOINT_IP=
WIREGUARD_ENDPOINT_PORT=
WIREGUARD_ALLOWED_IPS=0.0.0.0/0,::/0
WIREGUARD_PERSISTENT_KEEPALIVE=25
FIREWALL_VPN_INPUT_PORTS=51413
FIREWALL_INPUT_PORTS=9091
HEALTH_SUCCESS_WAIT_DURATION=99999h
JELLYFIN_MEDIA_STORAGE_ROOT=./data/media
JELLYFIN_CONFIG_ROOT=./data/jellyfin/config
JELLYFIN_CACHE_ROOT=./data/jellyfin/cache
TRANSMISSION_DOWNLOADS_STORAGE_ROOT=./data/transmission/downloads
TRANSMISSION_CONFIG_ROOT=./data/transmission/config
JELLYSEERR_CONFIG_ROOT=./data/jellyseerr/config
SONARR_CONFIG_ROOT=./data/sonarr/config
RADARR_CONFIG_ROOT=./data/radarr/config
LIDARR_CONFIG_ROOT=./data/lidarr/config
PROWLARR_CONFIG_ROOT=./data/prowlarr/config
PUID=1000
PGID=1000
RECYCLARR_TZ=Europe/Paris
