version: "3.8"

# This configuration exposes services directly on localhost ports (no reverse proxy required).

# You should use localhost:<service port> for all services connected to gluetun 
# that are using the network_mode directive. For example, to connect Radarr to Transmission,
# add Transmission under address `localhost:9091`.

services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    # restart: unless-stopped
    network_mode: "service:gluetun"
    volumes:
      - "${JELLYFIN_CONFIG_ROOT}:/config"
      - "${JELLYFIN_CACHE_ROOT}:/cache"
      - "${JELLYFIN_MEDIA_STORAGE_ROOT}:/media"
    environment:
      - JELLYFIN_PublishedServerUrl=${JELLYFIN_URL}  # Include protocol prefix (e.g. `https://)
      - HEALTHCHECK_URL=${JELLYFIN_HEALTHCHECK_URL}

  gluetun:
    image: qmcgaw/gluetun:latest
    # restart: always
    environment:
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - WIREGUARD_IMPLEMENTATION=${WIREGUARD_IMPLEMENTATION}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_DNS=${WIREGUARD_DNS}
      - WIREGUARD_PUBLIC_KEY=${WIREGUARD_PUBLIC_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - WIREGUARD_ENDPOINT_IP=${WIREGUARD_ENDPOINT_IP}
      - WIREGUARD_ENDPOINT_PORT=${WIREGUARD_ENDPOINT_PORT}
      - WIREGUARD_ALLOWED_IPS=${WIREGUARD_ALLOWED_IPS}
      - WIREGUARD_PERSISTENT_KEEPALIVE=${WIREGUARD_PERSISTENT_KEEPALIVE}
      - FIREWALL_VPN_INPUT_PORTS=${FIREWALL_VPN_INPUT_PORTS}
      - FIREWALL_INPUT_PORTS=${FIREWALL_INPUT_PORTS}
      - HEALTH_SUCCESS_WAIT_DURATION=${HEALTH_SUCCESS_WAIT_DURATION}
    volumes:
      - /etc/localtime:/etc/localtime:ro
    cap_add:
      - NET_ADMIN
    ports:
      - "8096:8096" # jellyfin
      - "5055:5055" # jellyseerr
      - "9696:9696" # prowlarr
      - "8989:8989" # sonarr
      - "7878:7878" # radarr
      - "8191:8191" # flaresolverr
      - "9091:9091" # transmission web
      - "51413:51413" # transmission peer
      - "51413:51413/udp"

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    # restart: always
    network_mode: "service:gluetun"

    depends_on:
      - gluetun
      - jellyfin
      - sonarr
      - radarr
    environment:
      - LOG_LEVEL=${LOG_LEVEL}
      - TZ=${TZ}
    volumes:
      - "${JELLYSEERR_CONFIG_ROOT}:/app/config"
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    # restart: always
    network_mode: "service:gluetun"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - SONARR__LOG_LEVEL=${SONARR_LOG_LEVEL}
    volumes:
      - "${PROWLARR_CONFIG_ROOT}:/config"
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    # restart: always
    network_mode: "service:gluetun"
    depends_on:
      - prowlarr
      - gluetun
      - transmission
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - "${SONARR_CONFIG_ROOT}:/config"
      - "${JELLYFIN_MEDIA_STORAGE_ROOT}/videos/shows:/shows"
      - "${JELLYFIN_MEDIA_STORAGE_ROOT}/videos/anime:/anime"
      - "${TRANSMISSION_DOWNLOADS_STORAGE_ROOT}:/downloads"
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    # restart: always
    network_mode: "service:gluetun"
    depends_on:
      - prowlarr
      - gluetun
      - transmission
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - "${RADARR_CONFIG_ROOT}:/config"
      - "${JELLYFIN_MEDIA_STORAGE_ROOT}/videos/movies:/movies"
      - "${TRANSMISSION_DOWNLOADS_STORAGE_ROOT}:/downloads"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    # restart: always
    network_mode: "service:gluetun"
    environment:
      - LOG_LEVEL=${LOG_LEVEL}
      - TZ=${TZ}

  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    network_mode: "service:gluetun"
    user: "${PUID}:${PGID}" # Use your UID:GID
    volumes:
      - ./data/recyclarr/config:/config
    environment:
      - TZ=${RECYCLARR_TZ}

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    # restart: always
    network_mode: "service:gluetun"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      # - TRANSMISSION_WEB_HOME= #optional
      # - USER= #optional
      # - PASS= #optional
      # - WHITELIST= #optional
      # - PEERPORT= #optional
      # - HOST_WHITELIST= #optional
    volumes:
      - "${TRANSMISSION_CONFIG_ROOT}:/config"
      - "${TRANSMISSION_DOWNLOADS_STORAGE_ROOT}:/downloads"
      # - "/path/to/watch/folder:/watch"
    # ports:
      # - 9091:9091
      # - 51413:51413
      # - 51413:51413/udp
